/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.jumbotron {
  padding-bottom: 20px;
  background: url("./images/home.png") no-repeat transparent ;
  background-size: cover;
}


.jumbotron2 {
  background-color: transparent;
  padding: 14px 24px;
  font-size: 17px;
}

.jumbotron3 {
  background-color: lighten;
  padding: 14px 24px;
  font-size: 17px;
}

.fluxograma {
  background-color: #CDDE87;
  padding: 10px 10px;
  text-align: center;
}

.image {
  background-color: transparent;
  padding: 10px 10px;
  text-align: center;
}

.modulos {
  background-color: transparent;
  padding: 14px 24px;
  padding-top: 50px;
}
.vazio {
  background-color: transparent;
  padding: 30px 0px;
}

.btn-home {
  color: #fff;
  background-color: #0973B3;
  border-color: #043755;
}


.capital-letter{
  color: #043755;
}

.normal-letter{
}

.navbar{ 
    background-image: none;
    background-color:#043755;
    border-radius:0;
    color:#fff;
}

.navbar-brand{
  color:#ffffff;
}

.components{

}

.traits{
  padding-left: 5%;
}

.commands{
  padding-left: 10%;
}

.parameters{
  padding-left: 15%;
}

.states{
  padding-left: 10%;
}
